* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 50px 0 0;
}

form {
  margin: 15px 0;

  input {
    width: 230px;
    padding: 9px 5px;
    border: 1px solid #0071E3;
    border-radius: 4px;
  }

  button {
    width: 100px;
    height: 37px;
    background-color: #0071E3;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0 0 5px 0 aqua;
  }

  button:active {
    scale: 1.02;
  }
}

.grid {

  .todos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    p {
      border: 2px solid #c4c4c4;
      border-radius: 8px;
      padding: 20px 40px;
      width: 300px;
      margin: 30px;
      box-shadow: 0 0 10px 0 gray;
    }
  }
}

